small{
    font-weight: bold;
}
.card{
    margin: 20px;
}
.conteiner{
    display: flex;
    justify-content: space-evenly;
    
}
@media screen and (max-width:800px){
     .conteiner{
         display: grid;
         grid-template-columns: repeat(1, 2fr);
         margin-left: 50%;
         margin-right: 50%;
         
     }   

}